.auth-content__input {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  color: #ffffff;
  width: 358px;
  height: 27px;
  background-color: #000000;
  border: none;
  border-bottom: 2px solid #cccccc;
}
@media screen and (max-width: 767px) {
  .auth-content__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    color: #ffffff;
    width: 260px;
    height: 27px;
  }
}