.page {
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 1280px) {
  .page {
    min-width: 1280px;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    min-width: 1024px;
  }
}

@media screen and (min-width: 768px) {
  .page {
    min-width: 768px;
  }
}

@media screen and (min-width: 425px) {
  .page {
    min-width: 425px;
  }
}

@media screen and (min-width: 320px) {
  .page {
    min-width: 320px;
  }
}
