.profile__edit-info {
  background: none;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  align-self: end;
  background-size: 10px 10px;
  background-image: url(../../../images/icons/edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  grid-row-start: 1;
  grid-row-end: 2;
}

.profile__edit-info:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .profile__edit-info {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    margin-left: 10px;
    align-self: end;
  }
}
