.auth-content__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 216px;
}
@media screen and (max-width: 767px) {
  .auth-content__form {
    gap: 173px;
  }
}