.gallery__photo-like {
  min-width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  background: none;
  background-image: url(../../../images/icons/like.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.gallery__photo-like:hover {
  opacity: 0.5;
}