.header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 425px) and (max-width: 1279px) {
  .header {
    max-width: 90vw;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 30px 32px;
    align-items: flex-start;
  }
}
